[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
[submodule "libs/gtest"]
	path = libs/gtest
	url = https://github.com/google/googletest.git
[submodule "libs/ftxui"]
	path = libs/ftxui
	url = https://github.com/ArthurSonzogni/FTXUI.git
